@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1782025791122') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-163_biaoqing-12:before {
  content: "\e8e9";
}

.icon-a-163_biaoqing-1:before {
  content: "\e8ea";
}

.icon-a-163_biaoqing-11:before {
  content: "\e8eb";
}

.icon-a-163_biaoqing-7:before {
  content: "\e8ec";
}

.icon-a-163_biaoqing-14:before {
  content: "\e8ed";
}

.icon-a-163_biaoqing-21:before {
  content: "\e8ee";
}

.icon-a-163_biaoqing-22:before {
  content: "\e8ef";
}

.icon-a-163_biaoqing-19:before {
  content: "\e8f0";
}

.icon-a-163_biaoqing-10:before {
  content: "\e8f1";
}

.icon-a-163_biaoqing-25:before {
  content: "\e8f2";
}

.icon-a-163_biaoqing-15:before {
  content: "\e8f3";
}

.icon-a-163_biaoqing-13:before {
  content: "\e8f4";
}

.icon-a-163_biaoqing-18:before {
  content: "\e8f5";
}

.icon-a-163_biaoqing-5:before {
  content: "\e8f6";
}

.icon-a-163_biaoqing-24:before {
  content: "\e8f7";
}

.icon-a-163_biaoqing-4:before {
  content: "\e8f8";
}

.icon-a-163_biaoqing-8:before {
  content: "\e8f9";
}

.icon-a-163_biaoqing-17:before {
  content: "\e8fa";
}

.icon-a-163_biaoqing-9:before {
  content: "\e8fb";
}

.icon-a-163_biaoqing-23:before {
  content: "\e8fc";
}

.icon-a-163_biaoqing-16:before {
  content: "\e8fd";
}

.icon-a-163_biaoqing-2:before {
  content: "\e8fe";
}

.icon-a-163_biaoqing-6:before {
  content: "\e8ff";
}

.icon-a-163_biaoqing-3:before {
  content: "\e900";
}

.icon-a-163_biaoqing-20:before {
  content: "\e901";
}

